p.caption {
  color: #0d53d6;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 90%;
}